.grid {
    display: grid;
    grid-template-areas: 
    "header"
    "body1"
    "body2"
    "footer";
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
body {
    margin: 0;
    font-family: Roboto, Arial;
}